img[alt="parents-delegate-process"] {
    width: 60%;
}

img[alt="catalina-home-docs"] {
    width: 80%;
}

img[alt="java-cross-platform"] {
    width: 60%;
}

img[alt="jvm-ram-param"] {
    width: 80%;
}

img[alt="object-create-process"] {
    width: 60%;
}
