img[alt="parents-delegate-process"] {
    width: 60%;
}

img[alt="catalina-home-docs"] {
    width: 80%;
}

img[alt="java-cross-platform"] {
    width: 60%;
}

img[alt="jvm-ram-param"] {
    width: 80%;
}

img[alt="object-create-process"] {
    width: 60%;
}

img[alt="connector-model"] {
    width: 80%;
}

img[alt="jdk-classloader"] {
    width: 60%;
}

img[alt="gc-g1-not-like"] {
    width: 60%;
}

img[alt="gc-g1-region"] {
    width: 80%;
}

img[alt="jps-list"] {
    width: 60%;
}

img[alt="jmap-heap"] {
    width: 80%;
}

/* Tomcat */
img[alt="tomcat-classloader"] {
    width: 60%;
}

img[alt="mark-copy"] {
    width: 80%;
}

img[alt="mark-compact"] {
    width: 80%;
}

img[alt="card-table"] {
    width: 80%;
}

img[alt="hash-index"] {
    width: 80%;
}

img[alt="mysql-component-infrastructure"] {
    width: 80%;
}

img[alt="wait-timeout"] {
    width: 80%;
}

img[alt="mysql-qcache-status"] {
    width: 60%;
}

img[alt="mysql-qcache-status"] {
    width: 80%;
}

