img[alt="parents-delegate-process"] {
    width: 60%;
}

img[alt="catalina-home-docs"] {
    width: 80%;
}

img[alt="java-cross-platform"] {
    width: 60%;
}

img[alt="jvm-ram-param"] {
    width: 80%;
}

img[alt="object-create-process"] {
    width: 60%;
}

img[alt="connector-model"] {
    width: 80%;
}

img[alt="jdk-classloader"] {
    width: 60%;
}

img[alt="gc-g1-not-like"] {
    width: 60%;
}

img[alt="gc-g1-region"] {
    width: 80%;
}

img[alt="jps-list"] {
    width: 60%;
}

img[alt="jmap-heap"] {
    width: 80%;
}

img[alt="class-file"] {
    width: 80%;
}

img[alt="string-pool-01"] {
    width: 60%;
}

img[alt="string-pool-02"] {
    width: 60%;
}

img[alt="string-pool-03"] {
    width: 60%;
}

img[alt="string-pool-04"] {
    width: 60%;
}

img[alt="string-pool-05"] {
    width: 60%;
}

img[alt="string-pool-06"] {
    width: 60%;
}

img[alt="string-pool-07"] {
    width: 60%;
}

img[alt="string-pool-08"] {
    width: 60%;
}

img[alt="string-pool-09"] {
    width: 60%;
}

img[alt="string-pool-10"] {
    width: 60%;
}

/* Tomcat */
img[alt="tomcat-classloader"] {
    width: 60%;
}

img[alt="mark-copy"] {
    width: 80%;
}

img[alt="mark-compact"] {
    width: 80%;
}

img[alt="card-table"] {
    width: 80%;
}

img[alt="hash-index"] {
    width: 80%;
}

img[alt="mysql-component-infrastructure"] {
    width: 80%;
}

img[alt="wait-timeout"] {
    width: 80%;
}

img[alt="mysql-qcache-status"] {
    width: 60%;
}

img[alt="mysql-qcache-status"] {
    width: 80%;
}

img[alt="lock-01"] {
    width: 60%;
}

img[alt="lock-02"] {
    width: 60%;
}

img[alt="lock-03"] {
    width: 80%;
}

img[alt="lock-04"] {
    width: 60%;
}

img[alt="lock-05"] {
    width: 60%;
}

img[alt="lock-06"] {
    width: 60%;
}

img[alt="lock-07"] {
    width: 60%;
}

img[alt="lock-08"] {
    width: 60%;
}

img[alt="lock-09"] {
    width: 60%;
}

img[alt="lock-10"] {
    width: 60%;
}

img[alt="lock-11"] {
    width: 60%;
}

img[alt="lock-12"] {
    width: 60%;
}

img[alt="lock-13"] {
    width: 60%;
}

img[alt="lock-14"] {
    width: 60%;
}

img[alt="lock-15"] {
    width: 60%;
}

img[alt="lock-16"] {
    width: 60%;
}

img[alt="lock-17"] {
    width: 60%;
}

img[alt="lock-18"] {
    width: 80%;
}

img[alt="lock-19"] {
    width: 80%;
}

img[alt="lock-20"] {
    width: 60%;
}

img[alt="atom-unsafe-01"] {
    width: 60%;
}

/* ================ 04-Concurrent ================ */

img[alt="jmm-model-02"] {
    width: 60%;
}

img[alt="jmm-model-04"] {
    width: 60%;
}

img[alt="cpu-cache-process"] {
    width: 80%;
}

img[alt="cpu-multi-level-cache"] {
    width: 80%;
}

img[alt="mesi-state-switch"] {
    width: 80%;
}

img[alt="multi-core-ops"] {
    width: 60%;
}

img[alt="single-core-read"] {
    width: 60%;
}

img[alt="double-core-read"] {
    width: 60%;
}

img[alt="data-modify"] {
    width: 60%;
}

img[alt="data-sync"] {
    width: 60%;
}

img[alt="synchronized-monitor"] {
    width: 60%;
}

img[alt="schedule-01"] {
    width: 80%;
}

img[alt="schedule-02"] {
    width: 60%;
}

img[alt="future-forkjoin-05"] {
    width: 60%;
}

img[alt="future-forkjoin-02"] {
    width: 60%;
}

img[alt="future-forkjoin-03"] {
    width: 60%;
}

img[alt="future-forkjoin-04"] {
    width: 60%;
}

img[alt="future-forkjoin-05"] {
    width: 60%;
}


/* ================ 06-Distributed ================ */

/* ====== OLD start ====== */
img[alt="redis-cmd-keys"] {
    width: 80%;
}

img[alt="redis-cmd-scan"] {
    width: 80%;
}

img[alt="redis-aof-use-rdb-preamble"] {
    width: 60%;
}

img[alt="redis-master-slave"] {
    width: 60%;
}

img[alt="redis-data-structure"] {
    width: 60%;
}

img[alt="redis-object-cache.png"] {
    width: 60%;
}

img[alt="redis-list.png"] {
    width: 60%;
}

img[alt="redis-hash.png"] {
    width: 60%;
}

img[alt="redis-set.png"] {
    width: 60%;
}

img[alt="redis-zset.png"] {
    width: 60%;
}

img[alt="redis-cluster-sample-01.png"] {
    width: 60%;
}

img[alt="redis-cluster-sample-02.png"] {
    width: 60%;
}

img[alt="redis-cluster-info.png"] {
    width: 60%;
}

img[alt="redisson-lock-process"] {
    width: 80%;
}

img[alt="nginx-ranking"] {
    width: 80%;
}

img[alt="mongodb-architecture"] {
    width: 80%;
}

img[alt="mongo-adv-00"] {
    width: 80%;
}

img[alt="mongo-adv-01"] {
    width: 80%;
}

img[alt="mongo-adv-02"] {
    width: 60%;
}

img[alt="mongo-adv-03"] {
    width: 60%;
}

img[alt="mongo-adv-04"] {
    width: 60%;
}

img[alt="mongo-adv-05"] {
    width: 60%;
}

img[alt="mongo-adv-06"] {
    width: 80%;
}

img[alt="mongo-adv-07"] {
    width: 60%;
}

img[alt="mongo-adv-08"] {
    width: 60%;
}

img[alt="mongo-adv-09"] {
    width: 60%;
}

img[alt="mongo-adv-10"] {
    width: 60%;
}

img[alt="mongo-adv-11"] {
    width: 60%;
}

img[alt="mongo-adv-12"] {
    width: 80%;
}

img[alt="mongo-adv-13"] {
    width: 60%;
}

img[alt="mongo-adv-14"] {
    width: 80%;
}

img[alt="mongo-adv-15"] {
    width: 80%;
}

img[alt="mongo-adv-16"] {
    width: 80%;
}

img[alt="mongo-adv-18"] {
    width: 80%;
}

img[alt="mongo-cluster-architecture"] {
    width: 60%;
}

img[alt="mongo-shard-architecture"] {
    width: 80%;
}

img[alt="netty-sample-20"] {
    width: 60%;
}

img[alt="netty-sample-22"] {
    width: 80%;
}

img[alt="netty-sample-23"] {
    width: 80%;
}

/* ====== OLD end ====== */
